<div class="col-sm-6 card-container">
  <% if (hasText()) { %>
    <div class="card">
      <p><%= get('text') %></p>
    </div>
  <% } else { %>
    <form class="form-horizontal" role="form">
      <div class="form-group">
        <div class="col-sm-12">
          <input type="textarea" rows="3" class="form-control card" id="card-text" placeholder="Text">
        </div>
      </div>
    </form>
  <% } %>
</div>
