<% pages().forEach(function(page) { %>

  <div class='printed-page'>

    <% page.forEach(function(card) { %>

    <div class="col-xs-6 card-container">
      <div class="card">
        <p><%= card.get('text') || "" %></p>
      </div>
    </div>

    <% }) %>

  </div>


<% }); %>

