<% pages().forEach(function(page) { %>

  <div class='printed-page'>

    <% page.forEach(function(card) { %>

    <div class="col-xs-6 card-container">
    <div class="card">
      <% if (card.hasText()) { %>
        <p><%= card.getText() %></p>
      <% } %>
      <% if (card.hasPicture()) { %>
        <div class='card-img-container'>
          <img class='card-img' src='<%= card.getPicture() %>'></img>
        </div>
      <% } %>
  </div>
    </div>

    <% }) %>

  </div>

<% }); %>
