<div class="col-sm-6 card-container">
  <div class="card">
    <% if (card.hasText()) { %>
      <p><%= card.getText() %></p>
    <% } %>
    <% if (card.hasPicture()) { %>
      <div class='card-img-container'>
        <img class='card-img' src='<%= card.getPicture() %>'></img>
      </div>
    <% } %>
  </div>
</div>
