<div class="col-sm-6 card-container">
  <div class="card">
    <% if (hasText()) { %>
      <p><%= get('text') %></p>
    <% } else { %>
      <form onSubmit="return false;">
        <input type="text" id="card-text"/> 
      </form>
    <% } %>
  </div>
</div>
