<div class="col-sm-6 card-container">
  <form class="form-horizontal" role="form" onSubmit="return false;">
    <div class="form-group">
      <div class="col-sm-12">
        <% if (card.hasText()) { %>
          <input type="textfield" class="card" autocomplete="off" id="card-text" value="<%= card.get('text') %>" >
        <% } else { %>
          <input type="textfield" class="card" autocomplete="off" id="card-text" placeholder="Text">
        <% } %>
      </div>
    </div>
  </form>
</div>
